@font-face {
    font-family: Mystic Crystal;
    src: url(Mystic\ Crystal.ttf);

}

@font-face {
    font-family: font2;
    src: url(Poppins-regular.ttf);
}

@font-face {
    font-family: font3;
    src: url(SUMMER\ Camp.otf);
}

* {
    margin: 0;
}

:root{
   --cor-título:#F24E29;
   --cor-parágrafo:#FFFACD;
   --cor-borda:#F2BD1D;
   --fonte-principal:Mystic Crystal;
   --font-text: font2;
   --font-final: font3;

}


.container {
    width: 900px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    
    
}

.amarelo {
    background-color: #F2BD1D;
    margin-bottom: 20px;
    padding: 20px;
}

h1{
    font-family: var(--fonte-principal);
    text-align: center;
    font-size: 64px;

    color:#F24E29;
    margin-bottom: 10px;
}

h5 {
    text-align: center;
    font-weight: 500;
    font-family: monospace;
    font-size: 16px;
    color: #444;
}

body p {
    color: black;
    margin-bottom: 10px;
    text-align: justify;
    font-family: var(--font-text);
}

img {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    object-fit: cover;
    height: 300px;
}

div.imagem {
    text-align: center;
}

.final {

    text-align: center;
    font-family: var(--font-final);
    font-size: 38px;
    color: var(--cor-título);
    

}

h2 {

    margin: 10px;

}